.footer{
    display: flex;
    flex-direction: column;
}
.footer__nav{

    display: flex;
    gap: 60px;
    justify-content: center;
    border: 2px solid var(--beige-color);
    border-right-color: transparent;
    border-left-color: transparent;

}
.footer__nav-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: 92px;
    flex-basis: auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    font-size: 16px;
    letter-spacing: 4%;
    font-style: italic;
    color: var(--white-color);

    @media (max-width: 420px) {
            flex-direction: column;
            height: fit-content;
            padding-top: 10px;
            padding-bottom: 10px;
        }
}


.footer__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info{
    padding: 43px 180px 52px 160px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.footer__button{
    font-weight: normal;
}
.footer__links-wrapper{
    display: flex;
    flex-direction: row;
    gap: 32px;

    & svg:hover{
        opacity: 50%;
    }
}
.footer_cpt{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    font-size: 20px;
    color: var(--white-color);
    cursor: pointer;
}

@media (max-width: 1100px) {

    .footer__row{
        flex-direction: column;
        gap: 10px;
    }

    .footer__info{
        padding-left: 0px;
        padding-right: 0px;
    }
    .footer__links-wrapper{
        gap: clamp(0.625rem, -0.0625rem + 3.4375vw, 2rem);
    }

}