
.main__advantages{
    height: 100%;
    display: flex;
    justify-content: center;
    flex: 1 1 1920px;
    gap: 50px;
    // overflow-x: clip;

    @media (max-width: 1650px) {
            justify-content: start;
            padding-left: 160px;
            padding-right: 30px;
        }

    @media (max-width: 1650px) {
        padding-left: clamp(1.875rem, -2.1875rem + 20.3125vw, 10rem);
    }
}

.main__advantages::after{
    content: "";
    height: 100%;
    flex: 0 1 600px;
    background-image: url(../img/2img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 1650px) {
            content: none;
        }
}
.main__advantages::before {
    content: "";
    height: 100%;
    flex: 0 1 600px;
    background-image: url(../img/3img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 1650px) {
            content: none;
        }
}


.main__content{
    flex: 0 1 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__list{
    display: flex;
    flex-direction: column;
    flex-basis: auto;

    
}

.content__item{
    color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 140%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid var(--beige-color) ;
    padding: 40px 0px;

    & img {
            max-width: clamp(1.25rem, 0.4063rem + 4.2188vw, 2.9375rem);;
        }

    @media (max-width: 960px) {
        font-size: clamp(0.875rem, 0.5625rem + 1.5625vw, 1.5rem);
        gap: clamp(0.3125rem, -0.1563rem + 2.3438vw, 1.25rem);;
    }

    &:last-child {
        border-bottom: none;
    }

}

.content__icon{
    width: fit-content;
}

.content__text{
    flex-basis: auto;
    flex-shrink: 1;
}
.content__button{
    padding: 32px 50px 32px 50px;
    font-size: 20px;
}