@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


:root{
    --dark-black-color : #222222;
    --light-black-color : #282829;
    --light-black-color07: #282829b3;
    --white-color : #FFFFFF; 
    --beige-color : #D5C9BE;
    --blue-color : #38535D;
}

// *{
//     outline: 1px solid green ;
// }


body{
    display: flex;
    justify-content: center;
    background-color: var(--light-black-color);
    font-family: "Prata", serif;
    padding-right: calc(100vw - 100%);

    
}
.site_con{
    display: flex;
    flex-basis: 1920px;
    flex-direction: column;
    height: 100dvh;
    gap: 100px;


}


.header{
    flex-shrink: 0;
    background-color: var(--dark-black-color);
    
}
.main{

    flex-grow: 1;
    background-color: var(--light-black-color);
}
.footer{
    flex-shrink: 0;
    background-color: var(--dark-black-color);

}